// scss 全局变量

$color-primary: #007fff;

$font-size-small: 12px;
$font-size-middle: 14px;
$font-size-big: 16px;
$font-size-large: 24px;

$padding-small: 10px;
$padding-middle: 12px;
$padding-big: 14px;
$padding-large: 16px;

body {
  font-size: $font-size-small;
}
